/* .module {
    width: 100%;
    height: 100%;
    padding: 2rem;
    border-right: 2px solid black;
    overflow-y: scroll;
  } */

  @media only screen and (max-width: 800px) {
    .module {
      border-top: 2px solid black;
      border-left: 2px solid black;
    }
  }
  