.module {
  width: 100%;
  height: 100%;
  padding: 4rem;
  border-right: 2px solid black;
  overflow-y: scroll;
}

.infoSection {
  margin-bottom: 4rem;
}

.registerSection
 {
margin-top: 1.25rem;
}

@media only screen and (max-width: 800px) {
  .module {
    border-left: 2px solid black;
  }
  .bottomBox {
      width: 0;
      height: 0;
      border: none;
    }
}