.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 4rem;
}

.info {
  /* padding: 4rem; */
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  font-size: 0.8;
  text-transform: uppercase;

}
.input input {
  width: 100%;
  padding: 0.25rem 0.5rem;
  border: 0.25rem;
  border-color: black;
  background: inherit;
  color: black;
  height: 3.125rem;
}

.form label {
  font-size: 0.8;
}

.button {
  padding: 0.25rem;
  margin-bottom: 0.125rem;
  border: 0.25rem;
  width: 100%;
  border-color: black;
  color: black;
  height: 3.125rem;
  text-transform: uppercase;
}
