.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  cursor: pointer;
  border: 2px solid black;
}

.home {
  font-size: 1.25rem;
}

.list {
  display: flex;
  gap: 2rem;
}

.admin{
  display: flex;
  font-size: 0.8rem; 
  font-weight: bold;
  letter-spacing: 0.6px;
}