.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  cursor: pointer;
  border: 2px solid black;
}

.home {
  font-size: 1.25rem;
}

.list {
  display: flex;
  gap: 2rem;
}

.admin{
  display: flex;
  font-size: 0.8rem; 
  font-weight: bold;
  letter-spacing: 0.6px;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.active {
  display: flex !important; /* Override the display: none in the initial state */
}

@media (max-width: 800px) {

  .nav {
    padding: 1rem;
  }

  .bar {
    display: flex;
  }

  .listContainer {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 83px;
    left: 0;
    width: 100%;
    height: calc(100vh - 3.9rem);
    background-color: white;
    border: 2px solid black;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    transform: translateX(100%);
  }
  
  .list {
    flex-direction: column;
    padding: 6rem 4rem 4rem 4rem;
  }

  .list a {
    font-size: 1.25rem;
  }

  .list span {
    font-size: 1rem;
    padding-top: 5rem;
    text-align: center;
  }
  
  .listContainer.active {
    /* left: 0;
    right: 0; */
    transform: translateX(0%);
  }
  
  .hamburger {
    display: flex;
  }


  .admin{
    display: flex;
    font-size: 0.8rem; 
    font-weight: bold;
    letter-spacing: 0.6px;
  }
}