.container {
  display: flex;
  flex-direction: row;
  gap: 1 rem;
  padding-top: 1rem;
}

.form {
  width: 50%;
  height: 100%;
}

.venueData {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  height: 100%;
  border: 2px solid black;
  border-radius: 0.5rem;
  padding: 2rem;
}
