.module {
  width: 100%;
  height: 100%;
  padding: 2rem;
  border-right: 2px solid black;
  overflow-y: scroll;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.back {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.back span {
  text-transform: uppercase;
  font-size: 0.8rem;
}

.topSection {
  display: flex;
  justify-content: space-between;
  max-width: 110ch;
  gap: 1rem;
}
.exhibitionImage {
}

.exhibitionTitle {
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.exhibitionCard {
  width: 100%;
  padding: 1rem;
  cursor: pointer;
  margin-bottom: 2rem;
}

.bottomSection {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.venueName {
  text-transform: uppercase;
  font-weight: bold;
}

.venueName:hover {
  border-bottom: 2px solid black;
}

.back span:hover {
  border-bottom: 2px solid black;
}

@media only screen and (max-width: 800px) {
  .module {
    width: 100%;
    height: 100%;
    border-left: 2px solid black;
  }

  .bottomBox {
    width: 0;
    height: 0;
    border: none;
  }

  .venueName,
  .dates {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 1200px) {
  .topSection {
    flex-direction: column;
    gap: 0rem;
  }

  .artistNames span {
    text-align: start;
  }

  .title {
    width: 100%;
  }

  .bottomBox {
    width: 0;
    height: 0;
    border: none;
  }
}

@media only screen and (max-width: 800px) {
  .module {
    width: 100%;
    height: 100%;
  }

  .bottomBox {
    width: 0;
    height: 0;
    border: none;
  }

  .venueName,
  .dates {
    font-size: 0.8rem;
  }
}
