.module {
  width: 50%;
  height: 100%;
  padding: 2rem;
  border-right: 2px solid black;
  overflow-y: scroll;
}

.map {
  width: 50%;
  height: 100%;
}

.exhibitionTitle {
  font-weight: bold;
}

@media only screen and (max-width: 800px) {
  .module {
    border-top: 2px solid black;
    border-left: 2px solid black;
  }
  .bottomBox {
    width: 0;
    height: 0;
    border: none;
  }
}
