@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

main {
  width: 100vw;
  height: 100vh;
}

h1 {
  text-transform: uppercase;
  font-size: 1rem;
}

h2 {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

nav {
  text-transform: uppercase;
  font-size: 0.875rem;
}

input, textarea {
  border: 1px solid black;
  max-width: 20rem;
}

/* LAYOUT */
.layoutWrapper {
  display:flex;
}
.pageWrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.contentWrapper {
  width: 100%;
  max-height: calc(100vh - 4rem);
  overflow-y: scroll;
}
.leftBox, 
.rightBox {
width: 4rem;
height: 100%;
border: 2px solid black;
border-top: none;
border-bottom: none;
}

.bottomBox {
  height: 4rem;
  width: 100vw;
  border: 2px solid black;
}

/* MAP */
.mapWrapper {
  width: 100%;
  height: 100%;
}

/* ERROR/SUCCESS MESSAGES */
.message {
  margin-top: 1rem; 
  padding: 1rem;
  text-align: center;
}

.error {
  background-color: #e53e3e; 
  color: #fff; 
}

.success {
  background-color: #38a169;
  color: #fff; 
}

@media only screen and (max-width: 900px) {
.leftBox,
.rightBox {
  width: 0px;
  border: none;
}

}