.module {
  width: 100%;
  height: 100%;
  padding: 2rem;
  border-right: 2px solid black;
  overflow-y: scroll;
}
.map {
  width: 50%;
  height: 100%;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.venueList {
  width: 100%;
  padding-top: 2rem;
}

.venueList li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  margin: 0.5rem 0rem;
}

.venueName {
  font-weight: bold;
  text-transform: uppercase;
}

.typeOf {
  text-transform: uppercase;
}
@media only screen and (max-width: 800px) {
  .module {
    width: 100%;
    height: 50%;
    border-top: 2px solid black;
    border-left: 2px solid black;
  }

  .map {
    width: 100%;
    height: 50%;
  }

  .bottomBox {
    width: 0;
    height: 0;
    border: none;
  }

  .venueName,
  .typeOf {
    font-size: 0.8rem;
  }
}
