
.formHeading {
  text-transform: uppercase;
}

.nameSection,
.urlSection,
.typeOfSection,
.contactSection,
.openingHoursSection,
.adressSection,
.aboutSection {
  padding-bottom: 4rem;
}
 

/* TYPE OF SECTION */
.typeOfSection {
  display: flex;
  flex-direction: column;
}

.typeOfSection .radioList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.radioList label {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.radioList input[type="radio"],
.day input[type="checkbox"] {
  appearance: none;
  border: 1px solid black;
  width: 1rem;
  height: 1rem;
}

.radioList > label > svg,
.day > label > svg {
  display: inline-block;
  padding: 0;
  height: 2rem;
  width: 2rem;
  background: none;
}

.radioList input[type="radio"]:checked::before,
.day input[type="checkbox"]:checked::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url("../../../public/ui/check_2px.svg") center/contain no-repeat;
}

/* CONTACT SECTION */
.contactSection {
  display: flex;
  flex-direction: column;
}

.contactSection input {
  margin-bottom: 1rem;
}

/* OPENING HOURS SECTION */
.openingHoursSection h2 {
    margin-bottom: 0;
}
.headingWrapper {
    margin-bottom: 1rem;
}
.day {
    margin-bottom: 1rem;
}
.day h3 {
  text-transform: uppercase;
  font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.day label {
    margin: 1rem;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.day input {
    width: 4rem;
    text-align: center;
}

.irregularOpeningHours textarea {
  height: 10rem;
  
}
.irregularOpeningHours h3 {
text-transform: uppercase;
font-size: 0.8rem;
}

/* ADRESS SECTION */
.adressSection {
    display: flex;
    flex-direction: column;
}

/* ABOUT SECTION */
.aboutSection {
    display: flex;
    flex-direction: column;
}

.aboutSection textarea {
  height: 20rem;
}



/* ERROR HANDLING */
.errorMessage {
  color: orangered; 
  font-size: 0.75rem; 
  margin-top: 0.5rem; 
}