.layoutWrapper {
    display:flex;
  }
  .pageWrapper {
    display: flex;
    width: 100vw;
    height: calc(100vh - 8rem);
  }
  .contentWrapper {
    display:flex;
    width: 100%;
    height: calc(100vh - 8rem);
    overflow-y: scroll;
  }
  .leftBox, 
  .rightBox {
  width: 4rem;
  border: 2px solid black;
  border-top: none;
  border-bottom: none;
  }
  
  .bottomBox {
    height: 4rem;
    width: 100vw;
    border: 2px solid black;
  }

  @media only screen and (max-width: 800px) {

    .leftBox,
    .rightBox {
      width: 0px;
      border: none;
    }

    .contentWrapper {
      flex-direction: column-reverse;
      height: 100vh;
    }

    .bottomBox {
      width: 0;
      height: 0;
      border: none;
    }

    }