.layoutWrapper {
    display:flex;
  }
  .pageWrapper {
    display: flex;
    width: 100vw;
  }
  .contentWrapper {
    display:flex;
    width: 100%;
    max-height: calc(100vh - 3rem);
    overflow-y: scroll;
  }
  .leftBox, 
  .rightBox {
  width: 4rem;
  height: calc(100vh - 8rem);
  border: 2px solid black;
  border-top: none;
  border-bottom: none;
  }
  
  .bottomBox {
    height: 4rem;
    width: 100vw;
    border: 2px solid black;
  }

  @media only screen and (max-width: 990px) {
    .leftBox,
    .rightBox {
      width: 0px;
      border: none;
    }

    .contentWrapper {
      flex-direction: column-reverse;
    }
    
    }