.mapboxgl-popup-content {
    padding: 1.5rem;
    text-transform: uppercase;
}

.mapboxgl-popup-close-button {
    margin: 0 0.5rem 0 0.5rem;
}

.marker {
    background-image: url("/images/map/customMarker.svg");
    background-size: cover;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }
