.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; 
  }
  
  .inputContainer {
    padding: 0.25rem 0.5rem;
    border: 0.25rem;
    width: 100%;
    border-color: black;
    background: inherit;
    color: black;
    height: 3.125rem;
  }
  
  .input {
    width: 100%;
  }
  
  .button {
    padding: 0.25rem;
    margin-bottom: 0.125rem;
    border: 0.25rem;
    width: 100%;
    border-color: black;
    color: black;
    height: 3.125rem; 
  }