.module {
  width: 100%;
  height: 100%;
  padding: 2rem;
  border-right: 2px solid black;
  overflow-y: scroll;
}

.exhibitionList {
  width: 100%;
  margin-top: 2rem;
}

.exhibitionList li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0rem;
}

.exhibitionCard {
  width: 100%;
  padding: 1rem;
}

/* TOP SECTION */
.topSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.title {
  text-transform: uppercase;
  font-weight: bold;
  width: 50%;
}

.artistNames span {
  font-size: 0.8rem;
  display: flex;
  text-align: end;
}

.venueName {
  text-transform: uppercase;
  font-weight: bold;
}
/* IMAGE */
.exhibitionImage {
  margin: 0.8rem 0rem;
}


/* BOTTOM SECTION */
.bottomSection {
}

@media only screen and (max-width: 1200px) {

  .topSection {
    flex-direction: column;
  }

  .artistNames span {
    text-align: start;
  }

  .title {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .module {
    border-top: 2px solid black;
    border-left: 2px solid black;
  }
}
