.introContainer {
  max-width: 40rem;
  height: 100%;
  padding: 4rem;
}

.contentWrapper {
  max-width: 20rem;
}

@media only screen and (max-width: 800px) {
  .leftBox,
  .rightBox {
    width: 0px;
    border: none;
  }

  .contentWrapper {
    flex-direction: column-reverse;
  }
}
