.passwordChangeWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 4rem;
  }
  
  .centerContainer {
    background-color: rgba(0, 244, 49, 0.38);
    padding: 4rem;
    max-width: 20rem;
  }

  .centerContainer h1 {
    margin-bottom: 2rem;
  }
  
  .form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
  }

  .passwordInput {
    margin-bottom: 1rem;
  }