.module {
    width: 100%;
    height: 100%;
    padding: 2rem;
    border-right: 2px solid black;
}

.venueList {
    width: 100%;
    padding-top: 2rem;
}

.venueList li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    margin: 0.5rem 0rem;
}