.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  border: 2px solid black;
}

.home {
  font-size: 1.25rem;
}

.list {
  display: flex;
  gap: 2rem;
}