.nav {
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  cursor: pointer;
  border: 2px solid black;
}

.home {
  font-size: 1.25rem;
}

.list {
  display: flex;
  gap: 2rem;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  display: none;
  width: 2rem;
  height: 2px;
  background-color: black;
  margin: 0.2rem 0;
}

.active {
  display: flex !important; /* Override the display: none in the initial state */
}

@media (max-width: 800px) {

  .nav {
    padding: 1rem;
  }

  .bar {
    display: flex;
  }

  .listContainer {
    display: none;
    position: fixed;
    top: 3.9rem;
    left: 0;
    width: 100%;
    height: calc(100vh - 3.9rem);
    background-color: white;
    border: 2px solid black;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    transform: translateX(100%);
  }
  
  .list {
    flex-direction: column;
  }

  .list a, .list span {
    padding: 1rem; 
  }

  .listContainer.active {
    /* left: 0;
    right: 0; */
    transform: translateX(0%);
  }
  
  .hamburger {
    display: flex;
  }
}