.form {
  display: flex;
  flex-direction: column;
}

.loginButton {
  background-color: rgb(211, 210, 210);
  height: 2.5rem;
  width: fit-content;
  padding: 0rem 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.flex {
  display: flex;
}

.justifyCenter {
  justify-content: center;
}

.itemsCenter {
  align-items: center;
}

.fullHeight {
  height: 100%;
}

.border {
  border: 4px;
}

.borderSolid {
  border-style: solid;
}

.borderColor {
  border-color: black;
}

.textColors {
  color: black;
}

.width {
  width: 332px;
}

.height {
  height: 250px;
}

.padding {
  padding: 16px;
}

.flexCol {
  flex-direction: column;
}

.gap {
  gap: 24px;
}

.inputContainer {
  padding: 4px 8px;
  border: 4px;
  width: 100%;
  border-color: black;
  background: inherit;
  color: black;
  height: 50px;
}

.input {
  width: 100%;
}

.button {
  padding: 4px;
  margin-bottom: 2px;
  border: 4px;
  width: 100%;
  border-color: black;
  color: black;
  height: 50px;
}